/* Style Overrides by Arjun */

body {
  font-size: 14px;
  background: #f6f6f6;
  color: #555;
  font-family: "Lucida Grande", Calibri, Verdana, "Helvetica Neue", Helvetica, sans-serif !important; 
  font-weight: 400;
  text-rendering: optimizelegibility;
  padding-top: 20px; 
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  font-family: "Lucida Grande", Calibri, Verdana, "Helvetica Neue", Helvetica, sans-serif !important;
  line-height: 25px;
  margin-bottom: 16px;
}

/* code can be in sentences and not be bright red and in an box!! */
code, pre {
  font-family: Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Inconsolata, "Lucida Console", Monaco, "courier new", courier;
  padding: none;
  color: #555;
  background-color: none;
  border: none;
  font-size: inherit;
}

em {
  font-style: normal;
  font-weight: bold;
  color: #666;
}

/* Adjust header sizes */
h1 { color: #666; font-size: 28px; letter-spacing: -1px; }
h2 { color: #666; font-size: 22px; }
h3 { color: #666; font-size: 16px; font-variant: small-caps; text-transform: uppercase}

.well {  background-color: #f6f6f6; }

#smart_top_logo {
  display: block;
  margin: 0 auto 2em auto;
}

.nav {
  font-size: small;
}

#footer {
  margin-top: 30px;
  width:100%;
  text-align:center;
  color: #999;
  font-size: smaller;
}

.simple_box {
  margin: 35px; border: 4px solid #ccc; padding: 15px;
}